@import '../../variables/variables.scss';

.sort {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
}

.sort__fieldset {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
	border: none;
}

.sort__block {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;

	@media (max-width: $mobile-width) {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 10px;
	}
}
