.card-data {
	display: grid;
	grid-template-columns: 1fr min-content;
}

.card-data-item {
	display: flex;
	align-items: center;
	padding: 3px 0;

	font-family: var(--basic-font);
	font-size: 13px;
	font-weight: 400;
	color: var(--text-primary);
	text-transform: uppercase;

	white-space: nowrap;

	&--title {
		justify-content: start;
	}

	&--value {
		justify-content: end;
		font-weight: 600;
	}
}
