.header {
	width: 100%;
	padding: 20px 0;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
}

.header__title {
	font-family: var(--basic-font);
	font-size: 18px;
	font-weight: 600;
	color: var(--text-primary);
  line-height: 23px;
	text-transform: uppercase;
}
