@import '../../variables/variables.scss';

.reports-list {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	gap: 20px;

	list-style: none;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	@media (max-width: $tablet-width) {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	@media (max-width: $mobile-width) {
		display: grid;
		grid-template-columns: 1fr;
	}
}
