.load-more-button {
	width: 100%;
	padding: 10px 20px;

	cursor: pointer;

	background-color: var(--surface);
	border: 1px solid var(--text-inverse);

	box-shadow: 0 9px 38px 0 rgba(2, 2, 2, 0.15);

	font-family: var(--basic-font);
	font-size: 16px;
	font-weight: 500;
	color: var(--text-primary);
	text-transform: uppercase;

	&:hover {
		background-color: var(--overlay);
	}

	&:disabled {
		opacity: 0.4;
		pointer-events: none;

		&:hover {
			background-color: var(--surface);
		}
	}
}
